.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  width: 100%;
}

.footer__logo {

  filter: brightness(0) saturate(100%) invert(1);
  
}
